article p{
    padding: 20px;
    background-color: blue;
}

article > p{
    padding: 20px;
    background-color: red;
}

article ~ p{
    padding: 20px;
    background-color: purple;

}

article + p{
    padding: 20px;
    background-color: orange;
}

h3:first-child{
    background-color: green;
    color: white;
}

input:in-range{
    border: 3px solid green
}

input:out-of-range{
    border:3px solid red;
}

input:required{
    background: #9ee5f0;
}

input:focus{
    background-color: yellow;
}

span :first-child{
    background-color: black;
    color: white;
    padding: 10px;
}