div#static{
    position: static;
    border: 3px solid rosybrown;
    padding: 8px;
    width: 250px;
    height: 250px;
}

div#relative{
    position: relative;
    border: 3px solid rosybrown;
    padding: 8px;
    width: 250px;
    height: 250px;
    left: 200px;
    top: 20px;
}