:root{
    --primary-color: #06206a;
    --secondary-color:#fff;
    --padding:20px;
}

h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}

p{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);  
}

#example-one{
    border-radius: 10px;
    background: #BADA55;
    margin: 10px;
    width: 150px;
    height: 150px;
}

#example-two{
    border-radius: 10px;
    border: 3px solid #BADA55;
    margin: 10px;
    width: 150px;
    height: 150px;
}

#example-three{
    border-radius: 10px;
    margin: 10px;
    width: 150px;
    height: 150px;
    background: url(/photo.jpg);
}

#example-four{
    border-radius: 5px 60px 5px ;
    background: #BADA55;
    margin: 10px;
    width: 150px;
    height: 150px;
}

body{
    counter-reset: number;
}

h2::before{
    counter-increment: number;
    content: counter(number);
    background-color: white;
    border-radius: 50%;
    padding: 5px 12px;
    color: blue;
    font-weight: bold;
    margin: 10px;
}

