@media(min-width:600px){
    body{
        background-color: blue;
        color: white;
    }
}

@media all and (max-width:600px){
    body{
        background-color: orange;
        color: blue;
    }
}

@media all and (orientation: landscape){
    h1{
        font-size: 80px;
    }

    img{
        display: none;
    }
}